<a href="https://colab.research.google.com/github/Kaekaefx/Group5_Gather_Predict/blob/master/database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Analysis with Pandas and Python

### Import the required libraries

In [0]:
import numpy as np
import pandas as pd

### Data

The given .bak file was converted to csv files containing the database tables. Read the csv file into **Pandas DataFrames**.

In [0]:
all_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.all_stations.csv")
station_type_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Station_Type.csv")
stations_table_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Stations_table.csv")
province_table_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Province%20Table%20.csv")
province_electrification_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.province_electrification.csv")
coal_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.coal_stations%20-%20Sheet1.csv")
hydroelectric_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.hydroelectric_stations%20-%20Sheet1.csv")
nuclear_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.nuclear_stations%20-%20Sheet1.csv")
wind_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.wind_stations%20-%20Sheet1.csv")
gas_turbine_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.gas_turbine_stations%20-%20Sheet1.csv")
electricity_generated_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.electricity_generated.csv")
eskom_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.eskom.csv")
population_df = pd.read_csv('https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Population.csv')
year_on_year_change_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.year_on_year_change(jan_2015%20-%20jun_2019)%20-%20Sheet1.csv")

_**Dataframe specifications:**_

The dataframes contain Eskom data that was collected from a number of online available resources, such as the city of StatsSA and Eskom.

_**Includes:**_



*   Stations (Coal, Nuclear, Gas, Wind and Hydroelectric) data.
*   Electricity consumption data.
*   Province consumption statistics.
*   Yearly consumption statistics.
*   Number of homes/Infrastructure electrified each year.

In [3]:
all_stations_df.head()

   station_name total_installed_capacity  ...    location station_type
0         Arnot                     2352  ...  Middelburg         Coal
1       Camden'                     1561  ...      Ermelo         Coal
2        Duvha'                     3000  ...  Emalahleni         Coal
3  Grootyleil.'                    I 180  ...     Balfour         Coal
4     Hendrina'                     1728  ...  Middelburg         Coal

[5 rows x 5 columns]

In [4]:
station_type_df.head()

   Station_Type_ID                      Station_Type
0                1                              Coal
1                2  Gas/liquid fuel turbine stations
2                3                           Nuclear
3                4            Pumped storage schemes
4                5            Hydroelectric stations

In [5]:
stations_table_df.head()

  Station_Name  Station_ID
0        Arnot           1
1       Camden           2
2        Duvha           3
3    Grootvlei           4
4     Hendrina           5

In [6]:
coal_stations_df.head()

              Station_Name  ...                                              Notes
0      Arnot Power Station  ...                                                NaN
1     Camden Power Station  ...                                                NaN
2      Duvha Power Station  ...                                                NaN
3  Grootvlei Power Station  ...  Units 5 and 6 were the first test facilities f...
4   Hendrina Power Station  ...                                                NaN

[5 rows x 9 columns]

In [7]:
nuclear_stations_df.head()

                     Power_plant  ...                 Coordinates
0  Koeberg nuclear power station  ...  33°40′35.2″S 18°25′55.37″E

[1 rows x 8 columns]

In [8]:
hydroelectric_stations_df.head()

                         Power_plant  ...                               Notes
0      Tubatse Pumped Storage Scheme  ...  Previously called Project Lima\r\n
1       Ingula Pumped Storage Scheme  ...                                 NaN
2  Drakensberg Pumped Storage Scheme  ...                                 NaN
3                         Gariep Dam  ...                                 NaN
4      Palmiet Pumped Storage Scheme  ...                                 NaN

[5 rows x 8 columns]

In [9]:
gas_turbine_stations_df.head()

                    Power_plant       Province  ...    Operator  Notes
0          Acacia Power Station   Western Cape  ...       Eskom    NaN
1        Ankerlig Power Station   Western Cape  ...       Eskom    NaN
2        Gourikwa Power Station   Western Cape  ...       Eskom    NaN
3  Newcastle Cogeneration Plant  KwaZulu-Natal  ...  IPSA Group    NaN
4        Port Rex Power Station   Eastern Cape  ...       Eskom    NaN

[5 rows x 8 columns]

In [10]:
wind_stations_df.head()

            Power_plant  ... Operator
0  Klipheuwel Wind Farm  ...    Eskom
1        Sere Wind Farm  ...    Eskom

[2 rows x 9 columns]

In [11]:
province_electrification_df.head()

        2000       2001       2002  ...       2010       2011       province
0    21,293     20,928     10,316   ...    10,582      4,806      Free State
1    39,660     36,024     32,127   ...    19,261     25,275         Gauteng
2    63,413     64,123     63,078   ...    28,748     22,079   Kwazulu Natal
3    51,860     68,121     49,881   ...    36,772     29,980         Limpopo
4    28,365     26,303     11,976   ...    17,422     12,578      Mpumalanga

[5 rows x 13 columns]

In [12]:
province_table_df.head()

   Province_ID      Province
0            1    Mpumalanga
1            2    North West
2            3       Gauteng
3            4  Western Cape
4            5  Eastern Cape

In [13]:
electricity_generated_df.head()

  electricity_distributed        Date(mm-yyyy)
0                  19,491  2015-01-01 00:00:00
1                  18,902  2016-01-01 00:00:00
2                  18,786  2017-01-01 00:00:00
3                  19,074  2018-01-01 00:00:00
4                  19,099  2019-01-01 00:00:00

In [14]:
eskom_df.head()

            Power_plant  ... Operator
0  Klipheuwel Wind Farm  ...    Eskom
1        Sere Wind Farm  ...    Eskom

[2 rows x 9 columns]

In [15]:
year_on_year_change_df.head()

  column1  column2  column3  column4  ...  column12  column13  column14  column15
0     Jan      0.2      NaN     -3.0  ...       NaN       NaN       NaN       0.1
1     Feb      0.8      NaN      0.6  ...       NaN       NaN       NaN      -0.4
2     Mar      3.0      NaN     -5.4  ...       NaN       NaN       NaN      -1.2
3     Apr     -0.8      NaN     -1.3  ...       NaN       NaN       NaN      -0.5
4     May     -1.4      NaN     -0.7  ...       NaN       NaN       NaN      -0.7

[5 rows x 15 columns]

### Authors: